.card {
  position: relative;
  border-radius: 16px;
  color: var(--clr-text-white);
  background-color: hsla(233, 83%, 75%, 1);
  border: 0.8px solid hsla(0, 0%, 100%, 0.5);
  width: 122px;
  height: 162px;
  padding: 13px;
}

.card .arrowDownBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.303);
  border-radius: 20px;
  margin-right: 10px;
}
.card .addBtn {
  position: absolute;
  color: hsla(0, 0%, 32%, 1);
  font-size: 14px;
  font-weight: 500;
  padding: 14px 12px;
  background-color: var(--clr-text-white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  left: -57px;
  bottom: 52px;
}
