.section1 {
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  height: 750px;
  background-color: var(--clr-bg-sky);
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
  margin-bottom: 140px;
}
.section1 .leftDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 750px;
  margin-right: 110px;
}
.section1 .leftDiv h2 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section1 .leftDiv p {
  color: hsla(233, 35%, 32%, 1);
}

.section1 .leftDiv button {
  max-width: fit-content;
  font-weight: 500;
  padding: 25px 48px;
  background-color: var(--clr-blue-primary);
  color: var(--clr-text-white);
  border: none;
  border-radius: 16px;
  margin-top: 65px;
  cursor: pointer;
}
.section1 .leftDiv .innerDiv {
  max-width: 440px;
  align-self: center;
}
/* RIGTH DIV */
.section1 .rightDiv {
  background-color: var(--clr-blue-primary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.section1 .rightDiv .firstDiv {
  color: var(--clr-text-white);
  width: 148px;
  height: 192px;
  background: linear-gradient(
    151.37deg,
    #7e54ec -0.02%,
    rgba(165, 135, 255, 0) 100.02%
  );
  box-shadow: 0px 10px 110px 0px hsla(0, 0%, 0%, 0.2);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  padding: 13px;
  border-radius: 18px;
  position: absolute;
  top: 70px;
  left: 93px;
}
.section1 .rightDiv .firstDiv .arrowDownBox,
.section1 .rightDiv .middleDiv .arrowDownBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  background-color: hsla(259, 58%, 73%, 0.3);
  border-radius: 20px;
  margin-right: 10px;
}
.section1 .rightDiv .firstDiv,
.section1 .rightDiv .middleDiv,
.section1 .rightDiv .lastDiv {
  display: flex;
  flex-direction: column;
  color: var(--clr-text-white);
}
.section1 .rightDiv .firstDiv > div:first-child,
.section1 .rightDiv .middleDiv > div:first-child,
.section1 .rightDiv .lastDiv > div:first-child {
  display: flex;
}

.section1 .rightDiv .secondDiv {
  display: flex;
  width: 251px;
  height: 64px;
  position: absolute;
  top: 123px;
  right: 80px;
  box-shadow: -55.16px 55.16px 73.55px 0px hsla(0, 0%, 0%, 0.03);
  background: hsla(0, 0%, 100%, 1);
  border: 1px solid hsla(0, 0%, 95%, 1);
  padding: 10px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
}
.section1 .rightDiv .appleDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 14.71px 36.78px 0px hsla(0, 0%, 0%, 0.06);
  z-index: 1;
}
.section1 .rightDiv .secondDiv > div {
  display: flex;
  align-items: center;
}
.section1 .rightDiv .secondDiv p {
  color: hsla(0, 0%, 60%, 1);
  font-size: 11px;
}

.section1 .rightDiv .middleDiv {
  width: 230px;
  height: 300px;
  align-self: center;
  background-color: hsla(233, 89%, 76%, 1);
  box-shadow: 0px 10px 110px 0px hsla(0, 0%, 0%, 0.2);
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  padding: 19px;
  border-radius: 18px;
  z-index: 5;
}
.section1 .rightDiv .middleDiv .arrowDownBox {
  width: 60px;
  height: 60px;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 30px;
  z-index: 3;
}

.section1 .rightDiv .fourthDiv {
  width: 238px;
  height: 198px;
  position: absolute;
  left: 38px;
  bottom: 96px;
  z-index: 5;
}
.section1 .rightDiv .lastDiv {
  width: 170px;
  height: 215px;
  position: absolute;
  right: 67px;
  bottom: 96px;
  background-color: hsla(228, 55%, 10%, 1);
  padding: 40px 16px;
  border-radius: 18px;
  z-index: 6;
}
