.header{
    text-align: center;
}

.nav{
    display: flex;
    gap:  20px;
    justify-content: center;
}
.nav li{
  list-style-type: none;
  font-size: 2rem;
}

.new-page{
    height: 100vh;
}

div .card{
    max-width: 250px;
text-align: center;
border: 1px solid rgba(255, 255, 255, 0.238);
border-radius: 5px;
box-shadow: 5px 5px 5px rgb(169, 169, 169);
margin: 10px;
display: inline-block;
height: auto;
}
div .card img{
width: 60%;
height: auto;
border-radius: 100%;
}
div .card h3{
   font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0, 20%);
}
div .card p{
    font-family: Arial, sans-serif;
    color: hsl(0, 0, 30%) ;
 }